In [1]:
# Importação de bibliotecas e módulos
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd

In [24]:
# Me mostre tudo
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [47]:
df = pd.read_csv("corona.csv",",", encoding="utf-8", low_memory=False)

In [48]:
# Montando df com os dados que eu quero
df = df[['state', 'city', 'confirmed','city_ibge_code']]
df.head()

  state                   city  confirmed  city_ibge_code
0    AC             Rio Branco         23       1200401.0
1    AC                    NaN         23            12.0
2    AL                 Maceió         10       2704302.0
3    AL  Porto Real do Colégio          1       2707503.0
4    AL                    NaN         11            27.0

In [49]:
# Removendo valores nulos
corona = df.dropna(axis=0, how='any')
corona.head()

  state                   city  confirmed  city_ibge_code
0    AC             Rio Branco         23       1200401.0
2    AL                 Maceió         10       2704302.0
3    AL  Porto Real do Colégio          1       2707503.0
5    AM           Boca do Acre          1       1300706.0
6    AM                 Manaus         63       1302603.0

In [50]:
# Mudando nome da coluna

corona.rename(columns={'city_ibge_code':'CD_GEOCMU'}, inplace=True)
corona.head()

C:\Users\jcypreste\Miniconda3\envs\geo_env\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

  state                   city  confirmed  CD_GEOCMU
0    AC             Rio Branco         23  1200401.0
2    AL                 Maceió         10  2704302.0
3    AL  Porto Real do Colégio          1  2707503.0
5    AM           Boca do Acre          1  1300706.0
6    AM                 Manaus         63  1302603.0

In [52]:
corona.CD_GEOCMU = corona.CD_GEOCMU.astype('str')
corona.info()
corona.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1449 entries, 0 to 1846
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   state      1449 non-null   object
 1   city       1449 non-null   object
 2   confirmed  1449 non-null   int64
 3   CD_GEOCMU  1449 non-null   object
dtypes: int64(1), object(3)
memory usage: 56.6+ KB

C:\Users\jcypreste\Miniconda3\envs\geo_env\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

  state                   city  confirmed  CD_GEOCMU
0    AC             Rio Branco         23  1200401.0
2    AL                 Maceió         10  2704302.0
3    AL  Porto Real do Colégio          1  2707503.0
5    AM           Boca do Acre          1  1300706.0
6    AM                 Manaus         63  1302603.0

In [ ]:
#colocando cidades como índice
#corona.set_index('CD_GEOCMU', drop=True, inplace=True)
#corona.head()

### base do ibge

In [53]:
ibge = gpd.read_file('br_municipios/BRMUE250GC_SIR.shp')

In [68]:
ibge.CD_GEOCMU = ibge.CD_GEOCMU.astype('str')

In [69]:
ibge.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NM_MUNICIP  5572 non-null   object
 1   CD_GEOCMU   5572 non-null   object
 2   geometry    5572 non-null   geometry
dtypes: geometry(1), object(2)
memory usage: 130.7+ KB

In [74]:
# Joining the plants list and the USA map, spacially.
df_novo = pd.concat(corona, ibge)
df_novo.head(500)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"